.el-header {
    border-bottom: 1px solid var(--el-border-color);
    padding: 10px;
}

.el-aside {
    height: 100vh;
    border-right: 1px solid var(--el-border-color);
    transition: 1s;
}

.el-footer {
    padding: 15px;
    border-top: 1px solid var(--el-border-color);
}

.el-link {
    transform: translate(0, -1.5px);
    transition: 0.5s;
    color: #20e3a8;
}

.el-button {
    margin: 5px;
}

@media screen and (max-width: 710px) { 
    .el-aside {
        width: 0;
    }
}