.mdui-card {
    padding: 20px 10px;
    margin-right: 20px;
    min-width: 300px;
}

.mdui-card div {
    margin-top: 5px;
}

.mdui-typo a {
    color: #00d6a8;
}

ion-icon {
    font-size: 30px;
    transform: translate(0, -10px);
    padding: 5px;
}

a {
    font-weight: 300;
}

.qwingin-table-margin > .mdui-col-xs-12:not(:last-child) {
    margin-bottom: 20px;
}
.mdui-textfield input {
    max-width: 500px;
}
