* {
    font-weight: 100;
}

.qwingin-font-teal {
    color: #00d6a8
}

.qwingin-table-margin {
    margin: 30px;
}

.qwingin-left-line {
    padding-left: 10px;
    border-left: solid 5px;
    border-color: #00d6a8;
}

.qwingin-footer-divider {
    margin-top: 10px;
    margin-bottom: 20px;
}

.qwingin-footer {
    padding: 20px;
    margin-bottom: 25px;
}

.❤ {
    color: red;
}

.qwingin-user-avatar {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}

.qwingin-server-info {
    font-size: 2px;
    margin-left: 5px;
}